---
// src/layouts/BaseLayout.astro
import Loading from '@/components/layout/Loading.astro';
import Header from '@/components/layout/Header.astro';
import Footer from '@/components/layout/Footer.astro';
import Clicks from '@/components/ui/Clicks.astro';
import MusicPlayer from '@/components/ui/MusicPlayer.astro';
import SnowControl from '@/components/ui/SnowControl.astro';
import ThemeToggle from '@/components/ui/ThemeToggle.astro';
import Sidebar from '@/components/layout/Sidebar.astro';
const { title = '女巫之舞', description = '女巫之舞，为你祈祷⭐' } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>{title}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description}>
  <!-- SEO:Search Engine Optimization -->
  <meta name="keywords" content="花田随笔,个人生活,开发学习">
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:type" content="website">
  <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site).href}>

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/src/styles/global.css" />
  <link rel="stylesheet" href="/node_modules/katex/dist/katex.min.css">

</head>

<body>
  <slot/>
  <Loading/>
  <Header />
  <Footer />
  <Clicks/>
  <SnowControl />
  <MusicPlayer />
  <ThemeToggle/>
  <Sidebar />
</body>
</html>


